
@{
    ViewBag.Title = "MyCats";
}



<div class="row" style="margin-top:50px">

    <div class="col-md-3">

        <div class="list-group">
            <a href="#" class="list-group-item active" data-toggle="collapse" data-target="#MyCats" data-parent="#menu">My cats <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
            <a class="list-group-item">
                Add new
                <span class="glyphicon glyphicon-plus-sign pull-right"></span>
            </a>
             <div id="MyCats" class="sublinks collapse">
                <a class="list-group-item "><span class="glyphicon glyphicon-chevron-right"></span> Alease</a>
                <a class="list-group-item "><span class="glyphicon glyphicon-chevron-right"></span> Brandy</a>
                <a class="list-group-item "><span class="glyphicon glyphicon-chevron-right"></span> Rita</a>
                <a class="list-group-item "><span class="glyphicon glyphicon-chevron-right"></span> Zyra</a>
            </div>
        </div>

        <div class="list-group">
            <a href="#" class="list-group-item active">
                Cat's family tree
            </a>
            <a href="#" class="list-group-item">
                View family tree
            </a>
            <a href="#" class="list-group-item">
                Manage family tree
            </a>
        </div>


        <a href="#" class="list-group-item active" data-toggle="collapse" data-target="#vaccine" data-parent="#menu">My cats' vaccination schedule <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
        <a class="list-group-item">
            Add new
            <span class="glyphicon glyphicon-plus-sign pull-right"></span>
        </a>
        <div id="vaccine" class="sublinks collapse">
            <a class="list-group-item "><span class="glyphicon glyphicon-chevron-right"></span> Alease's schedule</a>
            <a class="list-group-item "><span class="glyphicon glyphicon-chevron-right"></span> Zyra's schedule</a>
        </div>
    </div>


    <div class="col-md-9">
 
        <div class="col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">Recently update diary</div>
                <div class="panel-body">
                    Gray : Today is my lucky day
                </div>
                <div class="panel-body">
                    MeeJung : Hello world
                </div>
            </div>

        </div>

    </div>


</div>