
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RitaDiary</title>
</head>
<body>
    <div> 

        @{
            ViewBag.Title = "RitaDiary";
        }
        <div class="col-md-12" style="text-align:center">
            <h2>RitaDiary</h2>
        </div>

    </div>
</body>
</html>
