@{
    ViewBag.Title = "Home Page";
}

<div class="row" style=" margin-top:50px">

    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                Followed Diary
            </a>
            <a href="#" class="list-group-item">
                3 little cats
            </a>
            <a href="#" class="list-group-item">
                Black cat's diary
            </a>
        </div>

        <div class="list-group">
            <a href="#" class="list-group-item active">
                Followed Gallery
            </a>
            <a href="#" class="list-group-item">
                <img class="col-md-4 " src="http://s3-static-ak.buzzfed.com/static/campaign_images/webdr05/2013/9/11/6/the-location-of-londons-first-cat-cafe-has-finall-1-8314-1378896387-0_big.jpg" />
                <br />Meme and the Gang
            </a>
            <a href="#" class="list-group-item">
                <img class="col-md-4 " src="http://www.catbreedspic.co/wp-content/uploads/2014/09/cute-black-cat-tumblradorable-black-cat-blue-eyes-7lgwlu0k.jpg" />
                <br />Lady in black
            </a>
            <a href="#" class="list-group-item">
                <img class="col-md-4 " src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSxQSC0TPaA5LVFE9e5kY9vBKR6_2WfIJrKHqS41zwbcTyCjxjC" />
                <br />Zeev
            </a>
            <a href="#" class="list-group-item">
                <img class="col-md-4 " src="https://pbs.twimg.com/profile_images/378800000532546226/dbe5f0727b69487016ffd67a6689e75a.jpeg" />
                <br />Liz's Gallery
            </a>
        </div>
    </div>


    <div class="col-md-9">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Jumbotron</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <p><a class="btn btn-primary btn-lg ">Learn more</a></p>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">Recently update diary</div>
                <div class="panel-body">
                    Gray : Today is my lucky day
                </div>
                <div class="panel-body">
                    MeeJung : Hello world
                </div>
            </div>

        </div>

    </div>


</div>